.swup-transition-overlay
    transition transform .6s
    pointer-events none
    z-index 9999
    transform translate3d(-120%, 0, 0) skewX(5deg)
    width 120vw
    height 100vh
    position fixed
    top 0
    right -10%
    bottom 0
    left -10%
    opacity 0

    html.is-changing &
        opacity 1

    html.is-animating &
        transform translate3d(0, 0, 0) skewX(5deg)

    html.is-rendering &
        transition-delay .2s
        transform translate3d(120%, 0, 0) skewX(2deg)
