.swup-transition-overlay
    opacity 0
    z-index 9999
    position fixed
    pointer-events none
    transition-property transform

    html.is-changing &
        opacity 1

    ^[0][data-direction="to-right"],
    ^[0][data-direction="to-left"],
    ^[0][data-direction="to-bottom"],
    ^[0][data-direction="to-top"]
        html.is-rendering &
            transition-delay .2s

    // -------------------------------------------------------------------------
    // Horizontal overlay
    // -------------------------------------------------------------------------
    ^[0][data-direction="to-right"],
    ^[0][data-direction="to-left"]
        top 0
        bottom 0
        left -10%
        right -10%
        width 120vw
        height 100vh

    // ----- Left to Right ----- //
    ^[0][data-direction="to-right"]
        transform translate3d(-120%, 0, 0) skewX(5deg)

        html.is-animating &
            transform translate3d(0, 0, 0) skewX(5deg)

        html.is-rendering &
            transform translate3d(120%, 0, 0) skewX(5deg)

    // ----- Right to Left ----- //
    ^[0][data-direction="to-left"]
        transform translate3d(120%, 0, 0) skewX(-5deg)

        html.is-animating &
            transform translate3d(0, 0, 0) skewX(-5deg)

        html.is-rendering &
            transform translate3d(-120%, 0, 0) skewX(-5deg)

    // -------------------------------------------------------------------------
    // Vertical overlay
    // -------------------------------------------------------------------------
    ^[0][data-direction="to-top"]
    ^[0][data-direction="to-bottom"]
        top -10%
        bottom -10%
        left 0
        right 0
        width 100vw
        height 120vh

    // ----- Top to Bottom ----- //
    ^[0][data-direction="to-bottom"]
        transform translate3d(0, -120%, 0) skewY(5deg)

        html.is-animating &
            transform translate3d(0, 0, 0) skewY(5deg)

        html.is-rendering &
            transform translate3d(0, 120%, 0) skewY(5deg)

    // ----- Bottom to Top ----- //
    ^[0][data-direction="to-top"]
        transform translate3d(0, 120%, 0) skewY(-5deg)

        html.is-animating &
            transform translate3d(0, 0, 0) skewY(-5deg)

        html.is-rendering &
            transform translate3d(0, -120%, 0) skewY(-5deg)


